<div class="side">
    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
    <li class="cart-box">
        <ul class="cart-list">
            {% for cart in cart %}
                <li>
                    <a href="{% url 'shop_detail' cart.pk %}" class="photo"><img src="{{ cart.image_main.url }}"
                                                                                 class="cart-thumb"
                                                                                 alt=""/></a>
                    <h6><a href="{% url 'shop_detail' cart.pk %}">{{ cart.title }} </a></h6>
                    {% if cart.status == 'sale' %}
                        <p>1 - <span class="price">{{ cart.new_price }}</span></p>
                    {% else %}
                        <p>1 - <span class="price">{{ cart.old_price }}</span></p>
                    {% endif %}
                </li>
            {% endfor %}
            <li class="total">
                <a href="{% url 'cart' %}" class="btn btn-default hvr-hover btn-cart">Посмотреть корзину</a>
                <span class="float-right"><strong>Итог</strong>: ${{ summa_carts }}</span>
            </li>
        </ul>
    </li>
</div>
