{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="also-content container">
        <div class="container">
            <div style="position: relative" class="row g-2">
                <div class="blog-hero col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="p-3  ">
                        <h2 class="tubercules">Туберкулез первоначально может протекать как обычная простуда, пневмония,
                            а
                            иногда даже</h2>
                        <img style="width: 100%; object-fit: cover;" src="{% static 'images/banner-01.jpg' %}" alt=""
                             class="tuber-img">
                        <p class="tuber-about">
                            Проект направлен на усиление систем, инструментов, ресурсов и человеческого потенциала,
                            используемых Кыргызской Республикой в борьбе с туберкулезом, согласно последним
                            международным
                            рекомендациям. Кроме того, проект будет содействовать Правительству в разработке, управлении
                            и
                            мониторинге системы высококачественных противотуберкулезных услуг, доступных в местных
                            медицинских учреждениях, и создании условий, в которых медицинские услуги отвечают
                            потребностям
                            населения.
                            <br>
                            <br>
                            Проект «Вылечить туберкулез» реализуется JSI Research & Training Institute, Inc. (JSI) в
                            партнерстве с University Research Co., LLC (URC) и тесном сотрудничестве с Национальной
                            туберкулезной программой при Министерстве здравоохранения Кыргызской Республики и другими
                            национальными партнерами.
                        </p>
                        <div class="tuber-foot">
                            <p class="tuber-foot-name">Поделиться:</p>
                            <div class="tuber-brands">
                                <a href="#"><i class="fa-brands fa-vk"></i></a>
                                <a href="#"> <i class="fa-brands footer-brand-item fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands footer-brand-item fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="overflow-y: auto;height: 150vh;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="p-3  ">
                        <h2 class="also-news">Еще новоси</h2>
                        <div>
                            <div class="comment-item">
                                <h5 class="comment-item-title">Bekbolsun</h5>
                                <small class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                    autem
                                    consectetur culpa ea eius facilis numquam quaerat sint! Assumenda, dicta!</small>
                            </div>
                            <div class="comment-item">
                                <h5 class="comment-item-title">Bekbolsun</h5>
                                <small class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                    autem
                                    consectetur culpa ea eius facilis numquam quaerat sint! Assumenda, dicta!</small>
                            </div>
                            <div class="comment-item">
                                <h5 class="comment-item-title">Bekbolsun</h5>
                                <small class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                    autem
                                    consectetur culpa ea eius facilis numquam quaerat sint! Assumenda, dicta!</small>
                            </div>
                            <div class="comment-item">
                                <h5 class="comment-item-title">Bekbolsun</h5>
                                <small class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                    autem
                                    consectetur culpa ea eius facilis numquam quaerat sint! Assumenda, dicta!</small>
                            </div>
                            <div class="comment-item">
                                <h5 class="comment-item-title">Bekbolsun</h5>
                                <small class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                    autem
                                    consectetur culpa ea eius facilis numquam quaerat sint! Assumenda, dicta!</small>
                            </div>
                            <div class="comment-item">
                                <h5 class="comment-item-title">Bekbolsun</h5>
                                <small class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                    autem
                                    consectetur culpa ea eius facilis numquam quaerat sint! Assumenda, dicta!</small>
                            </div>
                            <div class="comment-item">
                                <h5 class="comment-item-title">Bekbolsun</h5>
                                <small class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                    autem
                                    consectetur culpa ea eius facilis numquam quaerat sint! Assumenda, dicta!</small>
                            </div>
                            <div class="comment-item">
                                <h5 class="comment-item-title">Bekbolsun</h5>
                                <small class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                    autem
                                    consectetur culpa ea eius facilis numquam quaerat sint! Assumenda, dicta!</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .also-content .tubercules {
            font-family: "Noto Serif", sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
        }

        .also-content .tuber-img {
            margin-top: 46px;
            width: 100%;
        }

        .also-content .tuber-about {
            font-size: 14px;
            line-height: 21px;
            color: #6C6463;
            margin-top: 36px;
        }

        .also-content .tuber-foot {
            display: flex;
            margin-top: 36px;
        }

        .also-content .tuber-foot .tuber-foot-name {
            font-family: "Noto Serif", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }

        .also-content .tuber-foot .tuber-brands {
            margin-left: 24px;
        }

        .also-content .tuber-foot .tuber-brands a {
            margin: 0 16px;
            color: black;
        }

        .also-content .tuber-foot .tuber-brands a i {
            transform: scale(1.3);
        }

        .also-content .also-news {
            font-family: "Noto Serif", sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
        }

        .news {
            margin-top: 48px;
        }

        .news .news-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .news .news-head .news-title {
            font-family: "Noto Serif", sans-serif;
            font-weight: 700;
            font-size: 38px;
            line-height: 52px;
        }

        .news .news-head .news-link {
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #0067B9;
            text-decoration: none;
        }

        .news .news-content {
            margin-top: 0;
        }

        .news .news-content .news-card {
            border: none;
            margin-top: 8px;
        }

        .news .news-content .news-card .news-time {
            display: flex;
            margin-top: 16px;
            align-items: center;
            margin-bottom: 12px;
        }

        .news .news-content .news-card .news-time .time-date {
            font-size: 16px;
            line-height: 24px;
        }

        .news .news-content .news-card .news-time .time-link {
            background: #E8E7E3;
            border-radius: 34px;
            width: 90px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            align-items: center;
            font-size: 16px;
            line-height: 24px;
            color: black;
            height: 35px;
            margin-left: 36px;
            font-style: italic;
        }

        .news .news-content .news-card .news-time .time-link-blue {
            width: 150px;
            background: #A7C6ED;
        }

        .news .news-content .news-card .news-card-about {
            font-family: "Noto Serif", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #002F6C;
        }

        .news .news-content .news-card .news-card-button {
            border: 1px solid #002F6C;
            box-sizing: border-box;
            border-radius: 37px;
            width: 177px;
            height: 48px;
            color: #002F6C;
            margin-top: 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            display: block;
        }

        .comment-item {
            margin: 16px 0;
            border: .5px solid #a09b9b;
            border-radius: 8px;
            padding: 16px;
        }

        .comment-item-title {
            font-weight: 600;
            font-size: 18px;

        }

        .comment {
            line-height: 1px !important;
        }
        .blog-hero{
            position: sticky;
            top: 0;
        }
    </style>

{% endblock %}




