{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="also-content container">
        <div class="container">
            <div style="position: relative" class="row g-2">
                <div class="blog-hero col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="p-3  ">
                        <h2 class="tubercules">{{ one_blog.title }}</h2>
                        <img style="width: 100%; object-fit: cover;" src="{{ one_blog.image.url }}" alt=""
                             class="tuber-img">
                        <p class="tuber-about">
                            {{ one_blog.description }}
                        </p>


                    </div>
                </div>
                <div style="overflow-y: auto;height: 150vh;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="p-3  ">
                        <h2 class="also-news">Комментарии</h2>
                        <div>
                            {% for bl in one_blog.blog.all %}
                                <div class="comment-item">
                                    <h5 class="comment-item-title">{{ bl.owner.username }}</h5>
                                    <small class="comment">{{ bl.text }}</small>
                                </div>
                            {% endfor %}
                        </div>
                        {% if user.is_authenticated %}
                            <form action="{% url 'blog_detail' one_blog.pk %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="text">
                                <button type="submit"> Добавить</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .also-content .tubercules {
            font-family: "Noto Serif", sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
        }

        .also-content .tuber-img {
            margin-top: 46px;
            width: 100%;
        }

        .also-content .tuber-about {
            font-size: 14px;
            line-height: 21px;
            color: #6C6463;
            margin-top: 36px;
        }

        .also-content .tuber-foot {
            display: flex;
            margin-top: 36px;
        }

        .also-content .tuber-foot .tuber-foot-name {
            font-family: "Noto Serif", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }

        .also-content .tuber-foot .tuber-brands {
            margin-left: 24px;
        }

        .also-content .tuber-foot .tuber-brands a {
            margin: 0 16px;
            color: black;
        }

        .also-content .tuber-foot .tuber-brands a i {
            transform: scale(1.3);
        }

        .also-content .also-news {
            font-family: "Noto Serif", sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
        }

        .news {
            margin-top: 48px;
        }

        .news .news-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .news .news-head .news-title {
            font-family: "Noto Serif", sans-serif;
            font-weight: 700;
            font-size: 38px;
            line-height: 52px;
        }

        .news .news-head .news-link {
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #0067B9;
            text-decoration: none;
        }

        .news .news-content {
            margin-top: 0;
        }

        .news .news-content .news-card {
            border: none;
            margin-top: 8px;
        }

        .news .news-content .news-card .news-time {
            display: flex;
            margin-top: 16px;
            align-items: center;
            margin-bottom: 12px;
        }

        .news .news-content .news-card .news-time .time-date {
            font-size: 16px;
            line-height: 24px;
        }

        .news .news-content .news-card .news-time .time-link {
            background: #E8E7E3;
            border-radius: 34px;
            width: 90px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            align-items: center;
            font-size: 16px;
            line-height: 24px;
            color: black;
            height: 35px;
            margin-left: 36px;
            font-style: italic;
        }

        .news .news-content .news-card .news-time .time-link-blue {
            width: 150px;
            background: #A7C6ED;
        }

        .news .news-content .news-card .news-card-about {
            font-family: "Noto Serif", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #002F6C;
        }

        .news .news-content .news-card .news-card-button {
            border: 1px solid #002F6C;
            box-sizing: border-box;
            border-radius: 37px;
            width: 177px;
            height: 48px;
            color: #002F6C;
            margin-top: 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            display: block;
        }

        .comment-item {
            margin: 16px 0;
            border: .5px solid #a09b9b;
            border-radius: 8px;
            padding: 16px;
        }

        .comment-item-title {
            font-weight: 600;
            font-size: 18px;

        }

        .comment {
            line-height: 1px !important;
        }

        .blog-hero {
            position: sticky;
            top: 0;
        }
    </style>

{% endblock %}




