{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            {% for rec in reclames %}
                {% if rec.is_active %}
                    <li class="text-left">
                        <img src="{{ rec.image.url }}" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>By Nurs<br> {{ rec.title }}</strong></h1>
                                    <p class="m-b-40">{{ rec.description }}</p>
                                    <p><a class="btn hvr-hover" href="{% url 'blog' %}">Новости/Блоги</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="text-right">
                        <img src="{{ rec.image.url }}" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>By Nurs<br> {{ rec.title }}</strong></h1>
                                    <p class="m-b-40">{{ rec.description }}</p>
                                    <p><a class="btn hvr-hover" href="{% url 'blog' %}">Новости/Блоги</a></p>
                                </div>
                            </div>
                        </div>
                    </li>

                {% endif %}
            {% endfor %}
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="row" style="display: flex ;flex-wrap: wrap">
                        {% for s in sub_cat %}
                            <div style="padding: 0; height: 450px; overflow: hidden"
                                 class="shop-cat-box col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-4">
                                <img class="img-fluid" style="width: 110%;height: 110%; object-fit: cover"
                                     src="{{ s.image.url }}" alt=""/>
                                <a class="btn hvr-hover" href="{% url 'shop' s.pk %}">{{ s.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Популярные продукты</h1>
                        <p>Вы сможете посмотреть популярные продукты за последнее время</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">Все</button>
                            <button data-filter=".top-featured">Популярные</button>
                            <button data-filter=".best-seller">Скидки</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for product in products %}
                    {% if product.status == 'sale' %}
                        <div class="col-lg-3 col-md-6 special-grid best-seller">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Скидка</p>
                                    </div>
                                    <img src="{{ product.image_main.url }}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="{% url 'shop_detail' product.pk %}" data-toggle="tooltip"
                                                   data-placement="right" title="Посмотреть"><i
                                                    class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                   title="Обновить"><i
                                                    class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="{% url 'wish_add' product.pk %}" data-toggle="tooltip"
                                                   data-placement="right"
                                                   title="Добавить в избранные"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="{% url 'cart_add' product.pk %}">Добавить в корзину</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ product.title }}</h4>
                                    <h5 style="color: red"> >{{ product.new_price }}{{ product.cur }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if product.status == 'new' %}
                        <div class="col-lg-3 col-md-6 special-grid top-featured">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="new">Новинка</p>
                                    </div>
                                    <img src="{{ product.image_main.url }}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="{% url 'shop_detail' product.pk %}" data-toggle="tooltip"
                                                   data-placement="right" title="Посмотреть"><i
                                                    class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                   title="Обновить"><i
                                                    class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="{% url 'wish_add' product.pk %}" data-toggle="tooltip"
                                                   data-placement="right"
                                                   title="Добавить в избранные"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="{% url 'cart_add' product.pk %}">Добавить в корзину</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ product.title }}</h4>
                                    <h5 style="color: blue">> {{ product.old_price }}{{ product.cur }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if product.status == 'just' %}
                        <div class="col-lg-3 col-md-6 special-grid">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <img src="{{ product.image_main.url }}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="{% url 'shop_detail' product.pk %}" data-toggle="tooltip"
                                                   data-placement="right" title="Посмотреть"><i
                                                    class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                   title="Обновить"><i
                                                    class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="{% url 'wish_add' product.pk %}" data-toggle="tooltip"
                                                   data-placement="right"
                                                   title="Добавить в избранные"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="{% url 'cart_add' product.pk %}">Добавить в корзину</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ product.title }}</h4>
                                    <h5 style="color: blue"> >{{ product.old_price }}{{ product.cur }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if product.status == 'popular' %}
                        <div class="col-lg-3 col-md-6 special-grid top-featured">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Популярный</p>
                                    </div>
                                    <img src="{{ product.image_main.url }}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="{% url 'shop_detail' product.pk %}" data-toggle="tooltip"
                                                   data-placement="right" title="Посмотреть"><i
                                                    class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                   title="Обновить"><i
                                                    class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="{% url 'wish_add' product.pk %}" data-toggle="tooltip"
                                                   data-placement="right"
                                                   title="Добавить в избранные"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="{% url 'cart_add' product.pk %}">Добавить в корзину</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ product.title }}</h4>
                                    <h5 style="color: blue"> >{{ product.old_price }}{{ product.cur }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Последний блог</h1>
                        <p>Интересные материалы для покупателей сети мультибрендовых магазинов ByNurs</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for blog in blog %}
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" src="{{ blog.image.url }}" alt="" style="height: 360px;"/>
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>{{ blog.title }}</h3>
                                    <p style="width: 290px;height: 180px;overflow: auto;font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 0;">{{ blog.description }}</p>
                                </div>
                                <ul class="option-blog">
                                    <li><a href="{% url 'blog_detail' blog.pk %}" data-toggle="tooltip"
                                           data-placement="right" title="Посмотреть"><i
                                            class="fas fa-eye"></i></a></li>
                                    <li><a href="{% url 'blog_detail' blog.pk %}" data-toggle="tooltip"
                                           data-placement="right" title="Комментарии"><i
                                            class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Blog  -->
{% endblock %}
<style>.about {
    width: 190px;
    height: 80px;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0;
}
</style>
